/bin/
.classpath
.project
test.csv
build/
!build/docs/*
build/docs/.DS_Store

\.gradle/4\.7/fileHashes/fileHashes\.bin

\.gradle/4\.7/fileHashes/fileHashes\.lock

\.gradle/4\.7/taskHistory/taskHistory\.bin

\.gradle/4\.7/taskHistory/taskHistory\.lock
